.wu-header {
  background-color: $color-black;
  z-index: 1;
  position: relative;

  .navbar {
    padding: $spacer-6 $spacer-0;
  }

  &__logo {
    max-width: 200px;
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .nav-item {
    margin: 0 $spacer-2;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition: all 0.3s ease-in-out;
      background-color: $color-yellow;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  .nav-link {
    font-size: 20px;
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-light .navbar-brand {
    color: $color-white;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/hamburg-white.svg");
    width: 2.5rem;
    height: 2.5rem;
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $color-white;
  }

  // for login page
  &--yellow {
    background-color: $color-yellow;

    .navbar-light .navbar-nav {
      .nav-link {
        color: $color-black;
      }
    }

    .navbar-light .navbar-toggler-icon {
      background-image: url("../images/hamburg-black.svg");
    }

    //
    .wu-header__lang {
      span {
        color: $color-black;
      }
    }

    .wu-header__langicon {
      svg {
        path {
          fill: $color-black;
        }
      }
    }
  }

  &__rightnav {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      gap: 0px;
      margin-right: 5px;
    }
  }

  &__lang {
    margin-left: $spacer-2;
    display: flex;
    align-items: center;

    span {
      font-size: 20px;
      color: $color-white;
    }
  }

  &__langicon {
    width: 25px;
    height: auto;
    margin-right: $spacer-1;
    margin-bottom: 4px;
    svg {
      width: 100%;
      height: 100%;

      path {
        fill: $color-white;
      }
    }
  }

  .wu-morelang {
    display: flex;
  }
}

@include mobile-tablet {
  .wu-header {
    .container-fluid {
      flex-direction: row;
    }
    .navbar {
      padding: $spacer-5 $spacer-0;
    }

    .navbar-nav {
      padding: $spacer-3 $spacer-0;
      margin-bottom: 0 !important;
    }

    .nav-item {
      &::after {
        content: none;
      }
    }

    .navbar-toggler {
      outline: none;
      border: none;
      box-shadow: none;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    &__lang {
      margin-right: 0;
      margin-left: 6px;

      span {
        font-size: 25px;
      }
    }

    .container-fluid {
      .wu-header__logo {
        order: 1;
      }

      .wu-header__rightnav,
      .navbar-toggler {
        order: 2;
      }

      .navbar-collapse {
        order: 3;
      }
    }
  }
}

@include mobile {
  .wu-header {
    .container-fluid {
      flex-direction: row;
    }
    background-color: $color-grey2;

    .navbar {
      padding: $spacer-3 $spacer-0;
    }

    &__logo {
      max-width: 50px !important;
    }

    .navbar-light .navbar-toggler-icon {
      background-image: url("../images/hamburg-black.svg");
      width: 1.5rem;
      height: 1.5rem;
    }

    .navbar-light .navbar-nav {
      .nav-link {
        color: $color-black;
      }
    }

    &--yellow {
      background-color: $color-black;

      .navbar-light .navbar-toggler-icon {
        background-image: url("../images/hamburg-yellow.svg");
      }

      .navbar-light .navbar-nav {
        .nav-link {
          color: $color-white;
        }
      }

      .wu-header__lang {
        span {
          color: $color-yellow;
        }
      }

      .wu-header__langicon {
        svg {
          path {
            fill: $color-yellow;
          }
        }
      }
    }

    &__lang {
      margin-right: 0;

      span {
        font-size: 20px;
        color: $color-black;
      }
    }

    &__langicon {
      width: 22px;
      height: auto;
      margin-bottom: 4px;
      svg {
        path {
          fill: $color-black;
        }
      }
    }

    .container-fluid {
      .wu-header__logo {
        order: 1;
      }

      .wu-header__rightnav,
      .navbar-toggler {
        order: 2;
      }

      .navbar-collapse {
        order: 3;
      }
    }
  }
}
