.wu-header {
  background-color: $color-black;
  z-index: 1;
  position: relative;

  &__logo {
    max-width: 140px;
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-light .navbar-brand {
    color: $color-white;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/hamburg-white.svg");
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $color-white;
  }
}