.wu-lyprgrmform {

    background-color: #ffdd00;
    height: 100vh;

    &__uppertxtouter {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__uppertxt {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        color: #000;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50%;
    }

    &__uppertxta {
        padding-bottom: 10px;
    }

    &__outer {
        background-color: #ffdd00;
        padding: 25px 0px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__txtcontainer {
        padding: 20px 20px;
        width: 50%;
        display: flex;
        flex-direction: column;

        &--b {
            .wu-lyprgrmform__input {
                border: 1px solid #b8b8b8;
            }
        }
    }

    &__inputhdwrap {
        padding-bottom: 10px;
    }

    &__inputhd {
        font-size: 16px;
        color: #000;
        line-height: 22px;
    }

    &__inputstr {
        color: #FF0D00;
        padding-left: 4px;
    }

    &__input {
        padding: 8px;
        font-size: 14px;
        color: #000;
        border-radius: 10px;
        border: 1px solid #b8b8b8;
        width: 100%;
        box-shadow: 0 0 5px rgba(28, 51, 78, 0.5);
        height: 40px;

        &::placeholder {
            color: #000;
            font-size: 14px;
        }
    }

    &__btn {
        color: #ffdd00;
        background-color: #0a0005;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 40px;
        border-radius: 20px;
        border: 2px solid #1C334E;
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 5px rgba(28, 51, 78, 0.5);
        text-align: center;

        &:hover {
            color: #0a0005;
            background-color: #ffdd00;
            border: 2px solid #0a0005;
        }
    }

    &__btnouter {
        width: 47%;
        display: flex;
        margin-top: 20px;
        justify-content: flex-end;
    }
}

@include tablet-pro {
    .wu-lyprgrmform {
        &__uppertxt {
            width: 100%;
        }
    }
}

@include tablet {
    .wu-lyprgrmform {
        &__uppertxt {
            width: 100%;
            font-size: 20px;
        }
    }
}

@include mobile {
    .wu-lyprgrmform {

        &__uppertxt {
            font-size: 18px;
            padding: 10px 0px;
        }

        &__txtcontainer {
            padding: 15px 0px;
        }

        &__btnouter {
            width: 100%;
            justify-content: unset;
        }

        &__btn {
            width: 100%;
        }

        &__txtcontainer {
            width: 100%;
        }
    }
}