.loyaltyprgrm {
    position: relative;

    &__outer {
        margin: 20px 0px;
    }

    .wu-title {
        margin-bottom: 30px;
    }

    &__stamphead {
        font-size: 22px;
        line-height: 28px;
        padding-bottom: 15px;
        border-bottom: 1px solid #756f75;
    }

    &__containerwrap {
        display: flex;
    }

    &__giftwrap {
        width: 25%;
        padding: 20px 10px;

        .btn-primary {
            background-color: transparent !important;
            border-color: transparent !important;
            color: unset !important;
        }

        .btn-primary:focus {
            box-shadow: unset;
        }
    }

    .wu-gift__img {
        width: 50%;
        background-color: #94CBF2;
    }

    .wu-gift__loader::before {
        background: #94CBF2;
    }

    .wu-gift__loader::after {
        background: #94CBF2;
    }

    &__backdrp {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1050; /* Bootstrap modal z-index is 1050 */
    }

    // custom fade areas

    #fade-area-1 { top: 10%; height: 30%; width: 100%; }
    #fade-area-2 { top: 45%; height: 55%; width: 100%; }
}

@include mobile {
    .loyaltyprgrm {
        
        .wu-title {
            font-size: 24px;
            line-height: 30px;
        }

        &__stamphead {
            font-size: 18px;
            line-height: 22px;
        }

        &__giftwrap {
            width: 50%;
        }
    }
}