:root{
   --header-height: 110px;
}

.wu-header{
   &--simple{
      background-color: hsl(0, 0%, 0%);
      min-height: 110px;
      height: 100%;
   }
   &__content{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__logo{
      display: inline-flex;
      max-width: 194px;
      width: 100%;
      margin: 32px 0;
   }
}

.wu-footer{
   &--simple{
      flex-direction: column;
      background-color: hsl(210, 12%, 93%);
      padding: 0;
   }
   &__tp{
      padding: 32px 0;
   }
   &__tp-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo{
      display: inline-flex;
      max-width: 200px;
      width: 100%;
   }
   &__logo-img{
      height: auto;
      width: 100%;
   }
   &__medias{
      display: flex;
      align-items: center;
      margin: 0 -8px;
   }
   &__media{
      height: 34px;
      width: 34px;
      border-radius: 50%;
      transition: transform 0.2s ease-in-out;
      margin: 0 8px;

      img{
         display: inline-block;
         width: 100%;
      }

      &:hover{
         transform: translateY(-2px);
      }
   }
   &__bt{
      font-size: 14px;
      font-weight: 500;
      background-color: hsl(0, 0%, 100%);
      padding: 16px 0;
   }
}

.wu-qrsec{
   position: relative;
   min-height: calc(100vh - var(--header-height));
   background-color: hsl(52, 100%, 50%);
   background-position: bottom center;
   background-repeat: no-repeat;
   background-size: cover;

   .blue{
      border-bottom-right-radius: 40%;
      &.show-mob{
         display: none !important;
      }
      &.show-des{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
      object-fit: cover;
      object-position: bottom;
      }
   }
   
   &__content{
      position: relative;
      display: flex;
      z-index: 9;
   }
   &__lt,
   &__rt{
      width: 50%;
   }
   &__lt{
      color: hsl(52, 100%, 50%);
      font-family: 'PP Right Grotesk Wide';
   }
   &__lt-in{
      max-width: 400px;
      width: 100%;
      margin-top: 84px;
   }
   &__lt-title{
      font-size: 64px;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 24px;
   }
   &__lt-desc{
      font-size: 24px;
      font-weight: 500;
      line-height: 1.1;
      margin-bottom: 24px;
   }
   &__rt{
      display: flex;
      color: hsl(0, 0%, 0%);
      text-align: center;
   }
   &__rt-in{
      max-width: 420px;
      width: 100%;
      margin: 0 auto;
      margin-top: 42px;
   }
   &__rt-title{
      font-family: 'PP Right Grotesk Wide';
      font-size: 28px;
      margin-bottom: 16px;
   }
   &__qr{
      height: 260px;
      width: 260px;
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.25);
      margin: 32px auto;
   }
   &__qr-img{
      width: 100%;
      height: 100%;
   }
   &__stores{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -8px;
      margin-top: 16px;
   }
   &__store{
      display: inline-flex;
      margin: 0 8px;
   }
}

@include mobile-tablet{
   .wu-qrsec{
      .blue{
         border-bottom-right-radius: 40%;
         &.show-mob{
            display: block !important;
            position: absolute;
            left: 0;
            top: 0;
            height: 460px;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
         }
         &.show-des{
            display: none !important;
         }
      }
      &__content{
         flex-wrap: wrap;
         flex-direction: column;
         padding: 32px 0;
      }
      &__lt, 
      &__rt{
         width: 100%;
      }
      &__lt{
         display: flex;
         flex-direction: column;
         justify-content: center;
         text-align: center;
         min-height: 460px;
      }
      &__lt-title{
         font-size: 40px;
      }
      &__lt-desc{
         font-size: 18px;
      }
      &__lt-in{
         margin: 0 auto;
      }
   }
   .wu-footer{
      &__tp-content{
         flex-direction: column;
      }
      &__medias{
         margin-top: 24px;
      }
   }
}