.wu-signinup {
   position: relative;
   overflow: hidden;
   background-color: $color-yellow;

   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $color-yellow;
   }

   .wu-title {
      font-size: 52px;
      text-align: left;
      margin-bottom: $spacer-4;
      font-family: 'PP Right Grotesk Wide';
   }

   &__wrap {
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: $spacer-5 $spacer-0;
      z-index: 1;
   }

   &__content {
      width: 100%;
      position: relative;

      // padding-top: $spacer-6;
      &-wrap {
         width: 100%;
      }

      &__bg {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         background-color: $color-yellow;
      }
   }

   &__form {
      width: 100%;
      max-width: 450px;

      .wu-title {
         font-size: 35px;
         margin-bottom: 10px;
      }

      .wu-inpwrap {
         margin: 24px 0 10px 0px;
      }
   }

   &__act {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .wu-btn {
         width: 200px;
      }
   }

   &__tnc {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: $spacer-3;

      .wu-checkbox {
         margin-right: $spacer-2;
      }

      .wu-label {
         cursor: pointer;

         a {
            font-weight: 600;
            color: $color-black2;

            &:hover {
               text-decoration: underline;
            }
         }
      }
   }

   .wu-footer {
      margin-top: -$spacer-3;
   }

   

}

@include tablet-pro {
   .wu-signinup {
      .wu-title {
         font-size: 42px;
      }
   }
}

@include tablet {
   .wu-signinup {
      &__form {
         max-width: 300px;
      }

      &__wrap {
         width: 70%;
      }

      .wu-title {
         font-size: 32px;
      }
   }
}

@include mobile {
   .wu-signinup {
      .content-wrapper {
         padding: 0;
      }

      &__bg {
         background-image: none !important;
      }

      .wu-title {
         font-size: 30px;
         margin-bottom: $spacer-4;
         color: $color-white;
      }

      &__content {
         min-height: 450px;

         &-wrap {
            width: 80%;
            position: relative;
            color: $color-white;
            padding: $spacer-4 $spacer-3;

         }
      }

      &__wrap {
         width: 80%;
         padding-top: 0;
      }

      &__form {
         padding: $spacer-0 $spacer-3;

         .wu-title {
            color: #000;
         }
      }

      // .mo-btn {
      //    width: 100%;
      //    margin-top: $spacer-4;
      // }

      &.wu-lp_signup {
         .wu-btns__inner {
            width: 100%;
         }

         .wu-btns {
            padding-top: 25px;
         }

         .wu-signinup__content__bg {
            background-position: bottom;
         }

         .wu-signinup__content-wrap {
            width: 95%;
         }

         .wu-signinup__wrap {
            width: 100%;
         }
      }

      &__act {
         justify-content: center;
         
         .wu-btn {
            width: 100%;
         }
      }
   }
}