.wu-yes{
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   &__ormimg{
      position: absolute;
      right: 0px;
      top: -24px;
      width: 110px;
   }

   &__content{
      padding-top: calc($spacer-5 + $spacer-4) ;
   }
   
   .wu-title{
      text-align: center;
      margin-bottom: $spacer-2;
   }
   .wu-para{
      text-align: center;
      &--bm{
         margin-bottom: $spacer-2;
      }
  }
  &__act{
      display: flex;
      align-items: center;
      justify-content: center;

      .wu-btn{
         width: 200px;
      }
   }
   &__tnc{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacer-3;
      .wu-checkbox{
         margin-right: $spacer-2;
      }
      .wu-label{
         cursor: pointer;
         a{
            font-weight: 600;
            color: $color-black2;
            &:hover{
               text-decoration: underline;
            }
         }
      }
   }
   .wu-footer{
      margin-top: auto;
   }
}