.wu-title {
    font-size: 28px;
    font-weight: $font-medium;
    color: $color-black2;
    text-decoration: none;
}

.wu-sub-title {
    font-size: 20px;
    font-weight: $font-medium;
    color: $color-black2;
    text-decoration: none;
}

.wu-para {
    font-size: 18px;

    span {
        font-weight: $font-semi-bold;
    }
}